<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }} - CardioNet</title>

        {% load static %}
        <link rel="icon" href="{% static 'app/favicon.ico' %}"
            type="image/x-icon">

        <!-- <link rel="stylesheet"
            href="{% static 'app/bootstrap/css/bootstrap.min.css' %}"> -->

        <link rel="stylesheet"
            href="{% static 'app/themes/css/minty/bootstrap.min.css' %}">

        <link rel="stylesheet"
            href="{% static 'app/user-defined/css/customized.css' %}">

        <link rel="stylesheet" href="{% static 'app/fa/css/all.css' %}">
        <link rel="stylesheet"
            href="{% static 'app/datatables/datatables.min.css' %}">

        <script src="{% static 'app/scripts/global.js' %}"></script>
        <script src="{% static 'app/scripts/axios.min.js' %}"></script>
        <script src="{% static 'app/scripts/vue.min.js' %}"></script>

        <script src="{% static 'app/bootstrap/js/bootstrap.js' %}"></script>
        <script src="{% static 'app/jquery/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'app/datatables/datatables.min.js' %}"></script>

        <script src="https://cdn.plot.ly/plotly-3.0.1.min.js"
            charset="utf-8"></script>

    </head>

    <body>

        <style>
            body {
                background: linear-gradient(135deg, #f8fafc 0%, #e0e7ef 100%) !important;
                min-height: 100vh;
                min-width: 100vw;
                width: 100vw;
                height: 100vh;
                overflow-x: hidden;
            }
        </style>
        {% if user.is_authenticated %}
            {% include 'app/partials/navbar.html' %}
        {% endif %}
        {% block content %}{% endblock %}

        {% block scripts %}

        {% endblock %}

        <script
            src="{% static 'app/bootstrap/js/bootstrap.bundle.js' %}">
        </script>

    </body>

</html>
