{% extends "app/layout.html" %}
{% load static %}
{% block content %}

<div id="{{ obj_name }}">

    <div class="row">

        {% include 'app/constants/universal_modal.html' %}
        {% include 'app/defined/patient_records.html' %}
        {% include 'app/defined/show_graph.html' %}

        <h1 class="display-6 fw-bold"><i class="fa-solid fa-users-medical"></i>
            Patient(s)
        </h1>

        <p class="lead fw-bold text-muted">
            Here you can add and manage patient's information.
        </p>

        <div class="card mb-4">
            <div class="card-body">

                <label class="label mb-2 mt-2">
                    First Name: *
                </label>

                <input type="text" v-model="props.PATIENT.first_name"
                    class="form-control mb-2" />

                <label class="label mb-2">
                    Middle Name: (Optional)
                </label>

                <input type="text" v-model="props.PATIENT.middle_name"
                    class="form-control mb-2" />

                <label class="label mb-2">
                    Last Name: *
                </label>

                <input type="text" v-model="props.PATIENT.last_name"
                    class="form-control mb-2" />

                <label class="label mb-2">
                    Birth Date: *
                </label>

                <input type="date" v-model="props.PATIENT.birth"
                    class="form-control mb-4" />

                <button class="btn btn-success" @click="savePatient()">

                    <span v-if="state.PATIENT_UPDATE === true">
                        Save Changes <i class="fa-solid fa-floppy-disk"></i>
                    </span>
                    <span v-else>
                        Add Patient <i class="fa-solid fa-plus"></i>
                    </span>

                </button>

                <button class="btn btn-primary" @click="filterPatient()">
                    Search Patient <i class="fa-solid fa-magnifying-glass"></i>
                </button>

            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <div class="table-responsive">

                    <div v-if="loading_state.PATIENT">
                        {% include 'app/constants/loading.html' %}
                    </div>
                    <div v-else>

                        <div class="row m-2" :hidden="true">

                            <div class="col-lg-4">
                                <label class="label mb-2">First Name:</label>
                                <input
                                    type="text"
                                    v-model="props.PATIENT.first_name"
                                    class="form-control mb-2"
                                    :disabled="state.SELECTED_PATIENT" />
                            </div>

                            <div class="col-lg-4">
                                <label class="label mb-2">Middle Name:</label>
                                <input
                                    type="text"
                                    v-model="props.PATIENT.middle_name"
                                    class="form-control mb-2"
                                    :disabled="state.SELECTED_PATIENT" />
                            </div>

                            <div class="col-lg-4">
                                <label class="label mb-2">Last Name:</label>
                                <input
                                    type="text"
                                    v-model="props.PATIENT.last_name"
                                    class="form-control mb-2"
                                    :disabled="state.SELECTED_PATIENT" />
                            </div>

                            <div class="col-lg-12">
                                <button class="btn btn-primary mb-2">Filter
                                    Search</button>
                            </div>

                        </div>
                        <table class="table" v-if="lists.PATIENT">
                            <thead>
                                <tr>

                                    <th scope="col">Full Name of Patient</th>
                                    <th scope="col">Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="patient in lists.PATIENT.results">
                                    <td>[[ patient.first_name ]] [[
                                        patient.middle_name ]] [[
                                        patient.last_name
                                        ]]</td>
                                    <td>

                                        <button class="btn btn-warning"
                                            @click="updatePatient(patient)">
                                            Edit <i
                                                class="fa-solid fa-pen-to-square">
                                            </i>
                                        </button>

                                        <button class="btn btn-danger"
                                            @click="deletePatient(patient)">
                                            Delete <i
                                                class="fa-solid fa-trash">
                                            </i>
                                        </button>

                                        <button class="btn btn-info"
                                            @click="viewPatientRecords(patient)">
                                            View Records <i
                                                class="fa-solid fa-eye">
                                            </i>
                                        </button>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- Navigation Buttons -->
                <div v-if="lists.PATIENT"
                    class="d-flex justify-content-end mt-2">
                    <button class="btn btn-primary me-2"
                        :disabled="lists.PATIENT.previous === null"
                        @click="switchPage('PREVIOUS')">
                        <i class="fa-solid fa-left"></i> Previous
                    </button>
                    <button class="btn btn-primary me-2"
                        :disabled="lists.PATIENT.next === null"
                        @click="switchPage('NEXT')">
                        Next <i class="fa-solid fa-right"></i>
                    </button>
                </div>

            </div>
        </div>

    </div>

</div>

<script>

new Vue({
    delimiters: ["[[", "]]"],
    el: "#" + '{{ obj_name }}',
    data: {

        loading_state: {},
        lists: {},
        url_models: {},
        endpoints: {},

        state: {
            'PATIENT_UPDATE': false,
            'PATIENT_ID': null,
            'PREDICTION_ID': null,
            'ACTIVE_GRAPH': null,
            'NOTES': ''
        },

        props: {

            'PATIENT': {
                "first_name": null,
                "middle_name": '',
                "last_name": null,
                "birth": null
            },

            'PREDICTION' :  {
                "recommendations": "",
            }

        },

        info: {
            'MESSAGE': 'Sample Message',
            'TITLE': 'Sample Title'
        },

    },
    mounted() {
        initializeModels(this, ['PATIENT', 'PREDICTION'])
        universalGet(this, 'LIST_GET', 'PATIENT', 'PATIENT', 'PATIENT', {page: 1})
        universalGet(this, 'LIST_GET', 'PREDICTION', 'PREDICTION', 'PREDICTION', {page: 1})
    },
    methods: {

        downloadCSV(prediction) {
            window.location.href = '/download/' + prediction.id + '/'
        },
        plotJS(props) {
      
            try {

                let data = props;
                let xValues = [...Array(data.rates.length).keys()];
                let yValues = data.rates;
        
                let trace = {
                    x: xValues,
                    y: yValues,
                    mode: 'lines',
                    line: { color: 'blue' }
                };

                let layout = {
                    title: 'ECG-Style Graph',
                    xaxis: { title: 'Time' },
                    yaxis: { title: 'Amplitude' }
                };

                Plotly.newPlot('ecg-graph', [trace], layout);
            } catch (error) {
                console.error("Error fetching ECG data:", error);
            }

            this.info.TITLE = 'Showing Graph'
            
        },

        async viewGraph(props) {
          
            closeModal('patient_records_modal')
            console.log(props)
            this.state.NOTES = props.recommendations
            this.plotJS(JSON.parse(props.sequential_ecg))
            this.state.PREDICTION_ID = props.id
            openModal('graph_modal')
        },

        async viewPrescription() {

            window.location.href = '/prescription/' + String(this.state.PREDICTION_ID) + '/'

            this.props.PREDICTION.recommendations = ''
            this.state.PREDICTION_ID = null
            this.state.NOTES = ''
            closeModalw('graph_modal')
            
        },

        async updatePrescription() {
            const url = '/get-update-destroy/prediction/'
            this.props.PREDICTION.recommendations = this.state.NOTES

            const result = await universalPatch(this, 'GET_UPDATE_DESTROY', 
                'PREDICTION', 'PREDICTION', 'PREDICTION', 
                'PREDICTION_ID', 'PREDICTION')

            this.props.PREDICTION.recommendations = ''
            this.state.PREDICTION_ID = null
            this.state.NOTES = ''
            closeModalw('graph_modal')
            
        },

        async viewPatientRecords(props) {
            this.lists.PREDICTION = []
            const patient_id = props.id
            universalGet(this, 'LIST_GET', 'PREDICTION', 'PREDICTION', 'PREDICTION', {page: 1, patient: patient_id})
            openModal('patient_records_modal')
        },

        async clearFilters() {

        this.info.TITLE = ''
        this.info.MESSAGE = ''

        this.props.PATIENT = {
            "first_name": null,
            "middle_name": '',
            "last_name": null,
            "birth": null
        };

        this.state.PATIENT_UPDATE = false
        this.state.PATIENT_ID = null
        this.state.PREDICTION_ID = null
        this.state.ACTIVE_GRAPH = null

        await universalGet(
          this,
          "LIST_GET",
          "PATIENT",
          "PATIENT",
          "PATIENT",
          this.getFilters()
        );
        this.state.SELECTED_PATIENT = false;
      },

        async filterPatient() {
            this.state.SELECTED_PATIENT = false;
            await universalGet(
            this,
            "LIST_GET",
            "PATIENT",
            "PATIENT",
            "PATIENT",
            this.getFilters()
            );
            if (this.lists.PATIENT) {
            if (this.lists.PATIENT.count < 1) {
                this.info.MESSAGE = "Oh no! No results found.";
                this.info.TITLE = "Notification";
                openModal("message_modal");
                this.clearFilters();
            }
            }
        },

        getFilters() {
        const filters = { page: 1 };

        if (this.props.PATIENT.first_name !== "" && this.props.PATIENT.first_name !== null) {
          filters["first_name"] = this.props.PATIENT.first_name;
        }

        if (
          this.props.PATIENT.middle_name !== "" &&
          this.props.PATIENT.middle_name !== null
        ) {
          filters["middle_name"] = this.props.PATIENT.middle_name;
        }

        if (this.props.PATIENT.last_name !== "" && this.props.PATIENT.last_name !== null) {
          filters["last_name"] = this.props.PATIENT.last_name;
        }

        return filters;
      },
        
        setInfo(title, message) {
            this.info.MESSAGE = message
            this.info.TITLE = title
        },

        clearPatientForm() {

            this.props.PATIENT.first_name = null
            this.props.PATIENT.middle_name = ''
            this.props.PATIENT.last_name = null
            this.props.PATIENT.birth = null
            this.state.PATIENT_ID = null

        },

        updatePatient(property) {

            this.state.PATIENT_UPDATE = true // Set Mark as True to Enable Updating
            this.props.PATIENT = property
            this.state.PATIENT_ID = property.id

        },

        async deletePatient(props) {

            this.state.PATIENT_ID = props.id
            const result = await universalDelete(this,
            'GET_UPDATE_DESTROY',
            'PATIENT',
            'PATIENT',
            'PATIENT', 'PATIENT_ID')

            if (result) {
                this.setInfo('Notification', 'Patient was removed from the records.')
                openModal('message_modal')
            }
            
        },

        async savePatient() {

            if (this.state.PATIENT_UPDATE === true) {

                const result = await universalPatch(this, 'GET_UPDATE_DESTROY', 
                'PATIENT', 'PATIENT', 'PATIENT', 
                'PATIENT_ID', 'PATIENT')
                
                if (result) {
                    this.setInfo('Notification', 'Successful update.')
                    openModal('message_modal')
                    this.clearPatientForm()
                }

            } else {

                const result = await universalPost(this, 'LIST_CREATE', 'PATIENT', null, null, this.props.PATIENT)
                
                if (result) {
                    this.setInfo('Notification', 'New patient was recorded.')
                    openModal('message_modal')        
                }

                this.clearPatientForm()
            }

            this.state.PATIENT_UPDATE = false // Set Mark as False so whenever save is pressed it will just insert.
        },

        // Object Calls.
        async switchPage (option) {

            var action = ''
            
            if (option === 'NEXT') {
                action = this.lists.PATIENT.next
            } else if (option === 'PREVIOUS') {
                action = ensurePageParam(this.lists.PATIENT.previous )
            }

            await universalGet(this, 
                'LIST_GET', 
                'PATIENT', 
                'PATIENT', 
                'PATIENT', 
                null,
                action)
        },

    },
});
</script>
{% endblock %}