<div class="modal fade" id="register_modal">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">

            <h5 class="modal-title fw-bold">
                Register Account
            </h5>

        </div>

        <div class="modal-body">

            <label class="label mb-2">Username: *</label>
            <input type="text" v-model="username" class="form-control mb-2">
 
           <label class="label mb-2">First Name: *</label>
           <input type="text" v-model="first_name" class="form-control mb-2">

           <label class="label mb-2">Last Name: *</label>
           <input type="text" v-model="last_name" class="form-control mb-2">

           <label class="label mb-2">Email Address: *</label>
           <input type="email" v-model="email" class="form-control mb-2">

           <label class="label mb-2">Password: *</label>
           <input type="password" v-model="password" class="form-control mb-2">

           <label class="label mb-2">Re-Enter Password: *</label>
           <input type="password" v-model="reenter_password" class="form-control mb-2">

        </div>

        <div class="modal-footer">
            <button class="btn btn-primary"
                @click="closeModal('register_modal')">
                Close
            </button>

            <button class="btn btn-success" @click="registerAccount()">
                Save
            </button>
            
        </div>

    </div>
</div>
</div>